
@{
    ViewData["Title"] = "Index";
}
<script src="~/js/axios.min.js"></script>
<script src="~/js/vue.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/LayUI前端/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
<!-- 引入样式 -->
<link href="~/ElementUI/element-ui.css" rel="stylesheet" />

<!-- 引入组件库 -->
<script src="~/ElementUI/Index.js"></script>
<script src="~/ElementUI/element-ui.js"></script>
<h2>运输执行-在途跟踪</h2>
<div id="app1">
    <div class="block" style="margin-bottom:20px">
        <el-carousel height="150px">
            <el-carousel-item v-for="item in imginfos" :key="item">
                <h3 class="small">
                    <img width="1110" height="160" v-bind:src="item.url" />
                </h3>
        </el-carousel>
    </div>
    <div style="float:left">
        <el-form :inline="true" class="demo-form-inline">
            <el-form-item label="订单号">
                <el-input style="width:130px" placeholder="请输入订单号"
                          v-model="xjd"
                          clearable>
                </el-input>
            </el-form-item>
        </el-form>
    </div>
    <div style="float:right">
        <el-button type="primary" icon="el-icon-search" v-on:click="show(1)">搜索</el-button>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div style="float:left">
        <div class="block">
            <el-form :inline="true" class="demo-form-inline">
                <el-form-item label="下单时间">
                    <el-date-picker v-model="xdsj"
                                    type="date"
                                    placeholder="开始日期">
                    </el-date-picker>
                    -
                    <el-date-picker v-model="exdsj"
                                    type="date"
                                    placeholder="结束日期">
                    </el-date-picker>
                </el-form-item>
            </el-form>
        </div>
    </div>
    <table class="layui-table" lay-even="" lay-skin="nob">
        <thead>
            <tr>
                <th>选择</th>
                <th>订单号</th>
                <th>联系人</th>
                <th>委托方</th>
                <th>委托人</th>
                <th>始发地</th>
                <th>目的地</th>
                <th>车牌</th>
                <th>运作状态</th>
                <th>计划发车时间</th>
                <th>实际发车时间</th>
                <th>预计到达时间</th>
                <th>地图跟踪</th>
            </tr>
        </thead>
        <tbody v-for="(value,index) in emps">
            <tr>
                <td><input type="radio" name="rd" :id="value.if_Id" :value="value.if_State" /></td>
                <td><a href="javascript:;" style="color:cornflowerblue" v-on:click="xiangqing(value.if_Id)" :value="value.if_Id" data-toggle="modal" data-target="#exampleModal">{{value.if_Number}}</a></td>
                <td>{{value.e_AddPerson}}</td>
                <td>{{value.e_Company}}</td>
                <td>{{value.e_Person}}</td>
                <td>{{value.if_BeginPlace}}</td>
                <td>{{value.if_EndPlace}}</td>
                <td>{{value.o_Row}}</td>
                <td>{{(value.co_State==0 ?"等待发车":(value.co_State==1 ?"在途":"到达目的地"))}}</td>
                <td>{{value.if_PlanBCarTime}}</td>
                <td>{{value.if_BCarTime}}</td>
                <td>{{value.if_PlanArrivalTime}}</td>
                <td><a href="#" v-on:click="MapGZ" class="el-icon-location-information"></a></td>
            </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <el-page-header class="close" data-dismiss="modal" aria-label="Close" content="详情页面">
                        </el-page-header>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div v-for="info in infos">
                            <div>
                                订单号 <span style="color:red">*</span> {{info.if_Number}}
                            </div>
                            <hr />
                            <h2>运输地址</h2>
                            <table class="table table-bordered">
                                <tr style="background-color: #E4E7ED">
                                    <td>始发地</td>
                                    <td>目的地</td>
                                </tr>
                                <tr>
                                    <td>{{info.if_BeginPlace}}</td>
                                    <td>{{info.if_EndPlace}}</td>
                                </tr>
                            </table>
                            <h2>计划时间</h2>
                            <table class="table table-bordered">
                                <tr style="background-color: #E4E7ED">
                                    <td>计划装货时间</td>
                                    <td>计划到货时间</td>
                                </tr>
                                <tr>
                                    <td>{{info.if_PlanBCarTime}}</td>
                                    <td>{{info.if_PlanArrivalTime}}</td>
                                </tr>
                            </table>
                            <hr />
                            <h2>委托人</h2>
                            <table class="table table-bordered">
                                <tr style="background-color: #E4E7ED">
                                    <td>委托方</td>
                                    <td>委托人</td>
                                    <td>联系电话</td>

                                </tr>
                                <tr>
                                    <td>{{info.e_Company}}</td>
                                    <td>{{info.e_Person}}</td>
                                    <td>{{info.e_Phone}}</td>
                                </tr>
                            </table>
                            <hr />
                            <h2>收货人</h2>
                            <table class="table table-bordered">
                                <tr style="background-color: #E4E7ED">
                                    <td>收货方</td>
                                    <td>收货人</td>
                                    <td>联系电话</td>
                                    <td>收货地址</td>
                                </tr>
                                <tr>
                                    <td>{{info.co_Company}}</td>
                                    <td>{{info.co_Person}}</td>
                                    <td>{{info.co_Phone}}</td>
                                    <td>{{info.co_Address}}</td>
                                </tr>
                            </table>
                            <h2>货物信息</h2>
                            <table class="table table-bordered">
                                <tr style="background-color: #E4E7ED">
                                    <td>货名</td>
                                    <td>规格型号</td>
                                    <td>总包装</td>
                                    <td>总数量</td>
                                    <td>总重量kg</td>
                                </tr>
                                <tr>
                                    <td>{{info.if_Goods}}</td>
                                    <td>{{info.if_Specification}}</td>
                                    <td>{{info.if_TotalPackage}}</td>
                                    <td>{{info.if_Num}}</td>
                                    <td>{{info.if_AllWeight}}</td>
                                </tr>
                            </table>
                            <h2 style="background-color: #E4E7ED">备注</h2>
                            <div>{{info.if_Remark}}</div>
                            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">{{(info.co_State==0 ?"等待发车":(value.info==1 ?"在途":"到达目的地"))}}</span></h2>
                            <table class="table table-bordered">
                                <tr></tr>
                                <tr></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <span class="demonstration">直接前往</span>
        <el-pagination v-on:size-change="handleSizeChange"
                       v-on:current-change="handleCurrentChange"
                       :current-page="pageIndex"
                       :page-sizes="[7, 14, 21, 28]"
                       :page-size="7"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total=allPage>
        </el-pagination>
    </div>
</div>
<style>
    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 150px;
        margin: 0;
    }
    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }
</style>
<script>
    //显示询价单
    var vueShow = new Vue({
        el: '#app1',
        data() {
            return {
                imginfos:'',
                value: '',
                emps: "",
                xjd: "",
                //时间
                xdsj: "",
                exdsj: "",
                infos: "",
                //全局
                pageIndex: 1,
                //总页数
                allPage: 0,
               
            }
        },
        mounted: function () {
            //显示主体
            this.show(this.pageIndex);
            this.img();
        },
        methods: {

            handleSizeChange() {
                console.log(`每页 7 条`);
            },
            handleCurrentChange(pageIndex) {
                console.log(pageIndex)
                this.pageIndex = pageIndex;
                this.show(this.pageIndex);
                console.log(`当前页: ${pageIndex}`);
            },
            img: function () {
                axios({
                    method: "get",
                    url: "@ViewBag.url"+"api/Trace_M/GetImg",
                }).then(response => {
                    this.imginfos = response.data;
                })
            },
            xiangqing: function (id) {
                axios({
                    method: "get",
                    url: "@ViewBag.url"+"api/Trace_M/XiangQX?Id=" + id,
                }).then(response => {
                    this.infos = response.data;
                })
            },
            //显示主体+查询
            show: function (pageIndex) {
                if (this.xdsj != "") {
                    var d = new Date(this.xdsj);
                    this.xdsj = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();
                }
                if (this.exdsj != "") {
                    var c = new Date(this.exdsj);
                    this.exdsj = c.getFullYear() + '-' + (c.getMonth() + 1) + '-' + c.getDate() + ' ' + c.getHours() + ':' + c.getMinutes() + ':' + c.getSeconds();
                }
                axios({
                    method: "get",
                    url: "@ViewBag.url"+"api/Trace_M/GetTracePageList?pageIndex=" + pageIndex + "&pageSize=" + 7 + "&if_number=" + this.xjd + "&btime=" + this.xdsj + "&etime=" + this.exdsj,
                }).then((response => (this.emps = response.data.getTraceModel, this
                    .TotalPage = response.data.totalPage, this.allPage = response.data.allPage)))
            },
            //地图跟踪页面跳转
            MapGZ: function () {
                var arr = document.getElementsByName("rd");
                for (var i = 0; i < arr.length; i++) {
                    if (arr[i].checked) {
                        var id = arr[i].id;
                    }
                }
                if (id == undefined) {
                    alert('请选择')
                    return;
                }
                location.href = "/Trace_MController1/MapZg?Id=" + id;
            },
            //首页
            firt: function () {
                this.show(1);

            },
            //上一页
            pre: function () {
                if (this.pageIndex > 1) {
                    this.pageIndex--;
                    this.show(this.pageIndex);
                }
                else {
                    alert('已经是第一页');
                    this.show(1);
                }
            },
            //下一页
            next: function () {
                if (this.pageIndex < this.TotalPage) {
                    this.pageIndex++;
                    this.show(this.pageIndex);
                }
                else {
                    alert('已经是最后一页');
                    this.show(this.TotalPage);
                }
            },
            //尾页
            last: function () {
                this.show(this.TotalPage);
            }
        }
    });
</script>

