
@{
    ViewData["Title"] = "Index";
}

<h1>异常管理</h1>
<div id="app">
    <div>
        <div style="float:left">
            <label class="layui-form-label">订单号</label>
        </div>
        <div style="float:left">
            <input type="text" id="ddh" placeholder="请输入订单号" autocomplete="off" class="layui-input" />
        </div>
        <div style="float:left">
            <label class="layui-form-label">申报人</label>
        </div>
        <div style="float:left">
            <input type="text" id="sb" placeholder="请输入申报人姓名" autocomplete="off" class="layui-input" />
        </div>
        <div style="float:left">
            <button type="button" class="layui-btn" v-on:click="show()"><i class="layui-icon layui-icon-search"></i></button>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="layui-btn layui-btn-radius layui-btn-normal" v-on:click="chuli()">异常处理</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox" /></th>
                <th v-for="(item,index) in header">{{item}}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item,index) in bodys">
                <th><input type="checkbox" :value="item.if_Id" class="ckitem" /></th>
                <th>{{item.if_Number}}</th>
                <th>{{item.if_OrderTime}}</th>
                <th>{{item.a_Explain}}</th>
                <th>{{item.o_Driver}}</th>
                <th>{{item.a_Signing}}</th>
                <th>{{item.a_Abnormal==1?"已处理":"异常"}}</th>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <tr>
            <td>
                <button v-on:click="firt()">首页</button>
                <button v-on:click="pre()">上一页</button>
                <button v-on:click="next()">下一页</button>
                <button v-on:click="last()">尾页</button>
            </td>
        </tr>
    </table>
</div>
<script>
    //module
    var data = {
        dialogVisible: false,
        header: ["订单号", "下单时间", "异常原因", "申报人", "申报时间", "状态"],
        bodys: "",
        //全局
        pageIndex: 1,
        //总页数
        TotalPage: 0,
        obj: {
            if_id: "",
            if_Num: "",
            if_OrderTime: "",
            a_Explain: "",
            o_Driver: "",
            a_Signing: "",
            a_Abnormal: ""
        }
    };
    //ViewModel
    new Vue({
        el: "#app",
        data,
        mounted: function () {
            this.show(); //调用Show方法,传递
        }, //在Dom元素更新渲染完后调用,vue的生命周期，相当于页面加载事件进来显示哪些数据
        methods: {
            show: function () {
                let ddh = $("#ddh").val();
                let sb = $("#sb").val();
                axios({
                    method: "get",
                    url: "http://localhost:57030/api/Anomaly/AbnormalList?ddh=" + ddh + "&sb=" + sb
                }).then(res => {
                    this.bodys = res.data;
                    this.TotalPage = res.data.totalPage;
                })
            },
            chuli: function ()
            {
                let id = $(".ckitem:checked").val();
                axios({
                    method: "get",
                    url: "http://localhost:57030/api/Anomaly/ShowOrderList?id=" + id,
                }).then(res => {
                    if (res.data[0].a_Abnormal == 1) {
                        alert("该异常已完成处理!!");
                        location.reload();
                    }
                    else {
                        location.href = "http://localhost:52767/Anomaly/ChuLi?id=" + id;
                    }
                })
                //if (id == 1) {
                //    alert("该异常已完成处理!!");
                //}
                //else {
                //    location.href = "http://localhost:52767/Anomaly/ChuLi?id=" + id;
                //}
            },
            first: function () {
                this.show(1);
            },
            pre: function () {
                if (this.pageIndex > 1) {
                    this.pageIndex--;
                    this.show(this.pageIndex);
                }
                else {
                    alert('已经是第一页');
                    this.show(1);
                }
            },
            next: function () {
                if (this.pageIndex < this.TotalPage) {
                    this.pageIndex++;
                    this.show(this.pageIndex);
                }
                else {
                    alert('已经是最后一页');
                    this.show(this.TotalPage);
                }
            },
            last: function () {
                this.show(this.TotalPage);
            }
        }
    })
</script>
